.category-page{
    .category{
        .loader-category{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ul{
            margin-top: 110px;
            display: flex;
            flex-wrap: wrap;
            li{
                list-style-type: none;
                width: 300px;
                margin-right: 15px;
                a{
                    text-decoration: none;
                    color: black;
                }

                img{
                    width: 100%;
                }
            }
        }
    }
}

